---
import { Image } from "astro:assets";
import { LinkButtons } from "../components/link-buttons.tsx";
import { SkillIcons } from "../components/skill-icons";
import { Projects } from "../components/projects";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Hamza Lahmouz">
  <header class="flex w-full max-w-2xl max-sm:flex-col">
    <div class="flex">
      <div class="h-12 w-12 overflow-hidden rounded-full">
        <Image
          src="/images/hamza-lahmouz.jpg"
          alt="Hamza Lahmouz"
          loading="eager"
          decoding="sync"
          width={48}
          height={48}
        />
      </div>
      <div class="ml-4">
        <h1 class="font-semibold">Hamza Lahmouz</h1>
        <p class="text-primary/60">Full-stack developer</p>
      </div>
    </div>
    <div class="flex gap-x-2 gap-y-2 sm:items-center max-sm:w-full max-sm:flex-col max-sm:mt-4 sm:ml-auto">
      <LinkButtons />
    </div>
  </header>
  <main class="w-full max-w-2xl space-y-14">
    <section class="w-full">
      <h1 class="text-xl leading-none mb-4">Crafting tailored web solutions</h1>
      <p class="text-primary/80">
        I design and code fullstack web applications. I like to build solutions
        for business ideas, And think deeply about system design, user interface
        and user experience.
      </p>
    </section>
    <section class="w-full">
      <h2 class="text-lg">Today</h2>
      <p class="text-primary/80">
        I am exploring freelancing opportunities while expanding my areas of
        expertise.
      </p>
    </section>
    <section class="w-full">
      <h2 class="text-lg">Skills</h2>
      <SkillIcons client:load />
    </section>
    <section class="w-full">
      <h2 class="text-lg">Projects</h2>
      <Projects client:load />
    </section>
  </main>
  <footer class="w-full max-w-2xl">
    <div class="flex gap-x-2">
      <LinkButtons />
    </div>
  </footer>
</Layout>
<style>
  h2 {
    margin-bottom: 0.5rem;
  }
</style>
